.card__container {
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-rows: 1fr auto;
}

.card__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__inner {
  border-top: 1px solid;
  padding: 5px 5px 3px 8px;
}

.card__label {
  font-weight: bold;
  margin-bottom: 16px;
}
