:root {
 --margin: 16px;
 --padding: 5px;
}

.margin {
 margin: var(--margin);
}
.margin-top {
 margin-top: var(--margin);
}
.margin-right {
 margin-right: var(--margin);
}
.margin-bottom {
 margin-bottom: var(--margin);
}
.margin-left {
 margin-left: var(--margin);
}

.padding {
 padding: var(--padding);
}
.padding-top {
 padding: var(--padding);
}
.padding-right {
 padding: var(--padding);
}
.padding-bottom {
 padding: var(--padding);
}
.padding-left {
 padding: var(--padding);
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line-break-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.line-break-3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.line-break-4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}