@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

main {
  padding: 10px;
  background-color: #f7d379;
  height: 100vh;
}

p {
  font-size: 1.2rem;
}

.p-size-small {
  font-size: .8rem;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
