@import "./index.css";

/* Base */
@import "./base/reset.css";
@import "./base/typography.css";

/* Theme */
@import "./theme/color.css";
@import "./theme/dark-mode.css";

/* Utilities */
@import "./utilities/border.css";
@import "./utilities/display.css";
@import "./utilities/spacing.css";
@import "./utilities/text.css"