.presentation__title-img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-size: 1.2rem;
}

.presentation__role {
  display: block;
  font-size: 3rem;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: bold;
}

.presentation__role--blue {
  color: blue;
}

.presentation__icon__wrapper {
  display: flex;
  margin-bottom: 40px;
}

a svg {
  width: 40px;
  fill: white;
}

.presentation__card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
