.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--gray-6);
  border-radius: var(--border-radius);
}

nav li {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li:hover {
  text-shadow: 0 0 15px var(--slate-4);
}

nav a {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}

nav a:not(:last-child):after {
  content: "";
  width: 2px;
  height: 20px;
  display: inline-block;
  background-color: var(--slate-4);
  margin-left: 20px;
}

.introduction__title-img-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-around;
  margin: 30px 80px;

}

.introduction__description .introduction__role {
  display: block;
  font-size: 3.5rem;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: bold;
}

.introduction__role--blue {
  color: #2296f3;
  -webkit-text-stroke: 1px #2296f3;
  text-shadow: 2px 2px 25px #2296f3;
}

.introduction__profile__img {
  border-radius: 50%;
  outline: 5px solid white;
  width: 300px;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.icon__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon__wrapper img {
  width: 40px;
}

.img__filter {
  filter: invert(1);
}

@media (max-width: 680px) {
  .introduction__title-img-wrapper {
    flex-direction: column-reverse;
  }

  .introduction__profile__img {
    margin-bottom: 30px;
  }

  .introduction__description {
    text-align: center;
  }
}
