.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--gray-6);
  border-radius: var(--border-radius);
}

.presentation__title-img-wrapper {
  margin: 25px 35px 0 35px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.presentation__description .presentation__role {
  display: block;
  font-size: 3.5rem;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: bold;
}

.presentation__role--blue {
  color: #2296f3;;
  -webkit-text-stroke: 1px #2296f3;
  text-shadow: 2px 2px 10px #2296f3;
}

.presentation__profile__img {
  /* max-width: 300px; */
  min-width: 40%;
  margin: 30px;
  border-radius: 50%;
  outline: 5px solid white;
}

.presentation__card__wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 280px); */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.presentation__icon__wrapper {
  display: flex;
}

a svg {
  width: 40px;
  fill: white;
}

@media (max-width: 680px) {
  .presentation__title-img-wrapper {
    flex-direction: column-reverse;
    margin-block: 30px;
  }

  .presentation__name,
  .presentation__description .presentation__role { 
    text-align: center;
  }
}
