.container {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--padding);
  border: 1px solid var(--gray-6);
  border-radius: var(--border-radius);
}

.presentation__title-img-wrapper {
  margin: 25px 30px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.presentation__title-img-wrapper > * {
  flex: 1;
  margin: 30px;
}

.presentation__description .presentation__role {
  display: block;
  font-size: 3.5rem;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: bold;
}

.presentation__role--blue {
  color: #252525;
  text-shadow: 2px 2px 10px #2296f3;
}

.presentation__profile__img {
  max-width: 300px;
  border-radius: 50%;
  outline: 5px solid white;
}

.presentation__card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.presentation__icon__wrapper {
  display: flex;
}

a svg {
  width: 40px;
  fill: white;
}

@media (max-width: 900px) {
  .presentation__card__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .presentation__card__wrapper {
    grid-template-columns: 1fr;
    margin-inline: 50px;
  }
}

@media (max-width: 680px) {
  .presentation__title-img-wrapper {
    flex-direction: column-reverse;
  }
}
