:root {
  --border: 1px solid rgb(153, 153, 153);
  --border-radius: 5px;
  --img-border: 5px solid rgba(211, 211, 211, 0.233);
  --padding: 5px;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background: #252525;
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}

.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .card__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .card__wrapper {
    grid-template-columns: 1fr;
  }
}