@import "./imports.css";

:root {
  --border: 1px solid rgb(153, 153, 153);
  --border-radius: 5px;
  --img-border: 5px solid rgba(211, 211, 211, 0.233);
  --padding: 5px;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background: #252525;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 5px;
}

hr {
  margin: 10px;
  
}